body{
font-family:Arial;
background:#121212;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.player{
background:#1e1e1e;
padding:30px;
border-radius:10px;
width:320px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.song-info{
margin-bottom:10px;
}

.controls button{
font-size:20px;
margin:10px;
padding:10px;
border:none;
background:#00adb5;
color:white;
border-radius:5px;
cursor:pointer;
}

.controls button:hover{
background:#008f96;
}

#progress{
width:100%;
margin-top:10px;
}

.time{
display:flex;
justify-content:space-between;
font-size:12px;
}

.volume{
margin-top:15px;
}

#playlist{
list-style:none;
padding:0;
margin-top:10px;
}

#playlist li{
padding:8px;
cursor:pointer;
border-bottom:1px solid #444;
}

#playlist li:hover{
background:#333;
}